django>5.2,<5.3
pillow
django_extensions
werkzeug
django-robots
django-debug-toolbar
django-taggit
django-ckeditor
django-summernote
django-simple-captcha
django-multi-captcha-admin
psycopg2-binary
python-decouple
gunicorn