Django>=5.2,<5.3
Pillow
django-extensions
Werkzeug
django-robots
django-debug-toolbar
django-taggit
django-ckeditor
django-simple-captcha
django-multi-captcha-admin
psycopg2-binary
python-decouple
gunicorn
dj-database-url